body{
    background-image: linear-gradient(to right, purple, rgb(15, 0, 151));
}
.header{
    width: 100%;
    border: 1px solid white;
}
.body{
    width: 100%;
    border: 1px solid red;
    height: 500px;
}
.writer{
    width: 90%;
    height: 10px;
    padding: 5px;
    background: transparent;
}